.container {
  background-image: url("../../public/img/yuvraj-singh-tmAynVA_ihE-unsplash.jpg");
  display: flex;
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  opacity: 0.6;
  background-color: black;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #1f3b08 0%,
    #627d4d 100%
  );
}
